// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// We can now inherit from bootstrap
@import "_bootstrap.scss";

.post-head {
  @extend h3;
  display: inline;
  margin: 0;
  padding: 0;
  
  .post-title {
    @extend h1;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .post-author {
    font-weight: bold;
  } 
}

.post-body {
  padding: 8px;
  text-align: justify;
}

