// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// We can now inherit from bootstrap
@import "_bootstrap.scss";

.post .panel-title h1 {
  display: inline;
  padding-right: 8px;
}

.post .panel-body {
  text-align: justify;
}

.post .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.post .post-title {
  display: inline-block;
  vertical-align: middle;
}
